<% content_for :page_title, "#{@timeline.title} - 項目編集" %>
<% content_for :header_label, "EDIT" %>

<section class="section">
  <ul class="breadcrumbs">
    <li><%= link_to "ホーム", root_path %></li>
    <li><%= link_to @timeline.user.display_name, public_index_timelines_path(user_id: @timeline.user_id) %></li>
    <li><%= link_to @timeline.title, timeline_path(@timeline) %></li>
    <li><%= link_to "管理・編集", manage_timeline_path(@timeline) %></li>
    <li>出来事の編集</li>
  </ul>
  <h2 class="section-title">年表項目を編集</h2>
  <%= render "form", timeline: @timeline, event: @event %>
</section>
